<h3>
<%= "#{current_user.first_name} #{current_user.last_name}'s profile" %>
</h3>
<div>
    <strong> First name: </strong>
    <%= current_user.first_name %>
</div>
<div>
    <strong> Last name: </strong>
    <%= current_user.last_name %>
</div>
<div>
    <strong> email: </strong>
    <%= current_user.email %>
</div>

<hr />
<%= link_to "Edit Profile", edit_profile_path %> 
<%= link_to "Show my articles", "user/#{current_user.id}/articles" %>