<h3>
<%= "#{@user.first_name}'s articles" %>
</h3>
<br />
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @articles %>
    </div>
    <%= will_paginate @articles, :container => false %>
</div>
<div style="margin-top: 1rem">
<% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
<% end %>