<h3>
<%= "#{@user.first_name} #{@user.last_name}'s profile" %>

<div style="text-align: center; margin-top: 1rem">
    <%= render "common/profile_image", obj: @user, locals: { style: "height: 200px; width: 200px; border-radius: 50%" } %>
</div>

</h3>
<div>
    <strong> First name: </strong>
    <%= @user.first_name %>
</div>
<div>
    <strong> Last name: </strong>
    <%= @user.last_name %>
</div>
<div>
    <strong> email: </strong>
    <%= @user.email %>
</div>
<div>
    <strong> age: </strong>
    <%= @user.age == nil ? "Not updated by user" : @user.age %>
</div>

<hr />
<% if current_user == @user %>
<%= link_to "Edit Profile", edit_profile_path %> 
<% end %>
<%= link_to "Show user articles", show_articles_path(@user) %>